body{
	margin: 0;
	padding: 0;
	
}
ul{
	list-style: none;
	padding-left: 0;
	
}
a{
	text-decoration: none;
}
.background{
	width:100%;  
    height:100%;  /**宽高100%是为了图片铺满屏幕 */
    z-index:-1;
	position: absolute;
	background: #181A1B;
	opacity: 0.3;	
}
.backimg{
	width: 100%;
	height: 100%;
}

.item_fram{
	width: 1820px;
	height: 1060px;
	margin-left: 45px;
	flex-flow: column;
	display: flex;
	// background: plum;
   
}
.card_wrap{
	width: 1850px;
	height: 1080px;
	overflow: scroll;
	margin-top: 20px;
	
}
.scenery_auction{
	width: 100%;
	height: 100%;
	
}

.deal-box{
    margin-left: 30px;
    display: inline-block;
}
.works_card{
	width: 570px;
	height: 280px;
	box-shadow: 0 0 5px rgb(127, 125, 128);
	border-radius: 20px 20px 10px 10px;
	margin-bottom:20px ;
	background: rgb(232, 239, 245);
	margin-top: 15px;	

}
.works_img{
	float: left;
	width: 320px;
	height: 210px;
	margin-left: 17px;
	margin-top: 37px;
	background: rgba(245, 245, 245, 0.534);
	box-shadow: 0 0 8px gray;
	opacity: 0.8;
}
.work_name{
	margin-top: 10px;
}
.work_brief{
	float: left;
	width: 200px;
	height: 230px;
	margin-left: 15px;
	margin-top: 30px;
	box-shadow: 0 0 5px rgba(116, 114, 114, 0.644);
	color:  rgb(144, 165, 189);
	padding-left: 5px;
}

.work_brief ul li{
	margin-top: 15px;
	margin-left: 11px;
	font-size: 12px;
	font-family:A;
	font-weight: 600;
	display: flex;
}
.join{
	margin-left: 55px;
	margin-top: 25px;
	height: 25px;
	width: 80px;
	text-align: center;
	line-height:25px;
	box-shadow: 0 0 4px rgb(93, 123, 156);
	color: rgba(84, 133, 185, 0.644);
	/* background: #ecebeb; */
	border-radius: 10px;
	font-family: A;
	outline: none;
	cursor: pointer;
	font-size: 12px;
	font-weight: 600;
}

.paixu{
	width:1800px;
	height: 50px;
	line-height: 40px;
	margin-left: 17px;
	background: rgb(232, 239, 245);
	box-shadow: 0 0 3px rgb(107, 95, 95);
	border-radius: 5px;
	margin-top: 5px;
	display: flex;	
}
.paixu ul{
	display: flex;
	margin: 0;
	padding: 0;
	
}
.paixu ul li{
	margin-left: 21px;
	margin-right: 25px;	
	margin-top: 7px;
}
.paixu_item{
	font-size: 15px;
	font-weight: 600;
	cursor:pointer;
	font-family: A;
	font-weight: bold;
	color: rgb(143, 199, 229);
}
.paixu_back a{
	margin-left: 430px;
	font-weight: 600;
	font-size: 15px;
	color: rgba(87, 123, 170, 0.493);
	cursor: pointer;
	position: relative;
	top:7px;
}

.paixu_serch input{
	/* border:1px solid #D6CFE3; */
	outline: none;
	border:1px solid #bacae4;
	height: 18px;
	border-radius: 5px;
	padding: 5px;
	caret-color:#D6CFE3;
	padding-left: 5px;
	color:#6799b6;
	background:#d5e4f56c;
	margin-top: 10px;
	font-family: A;
	font-weight: bold;
}
.paixu_serch input::placeholder{
	font-size: 10px;
	color: rgb(174, 208, 221);
}
.search_img{
	cursor: pointer;
	margin-top: 8px;
}


