body{
	margin: 0;
	padding: 0;
	
}
ul{
	list-style: none;
	padding-left: 0;
	
}
a{
	text-decoration: none;
}
.background{
	width:100%;  
    height:100%;  /**宽高100%是为了图片铺满屏幕 */
    z-index:-1;
	position: absolute;
	background: #181A1B;
	opacity: 0.3;	
}
.backimg{
	width: 1440PX;
	height: 821PX;
}

.item_fram{
	width: 1390px;
	height: 100%;
	margin-left: 45px;
	flex-flow: column;
	display: flex;
   
}
.card_wrap{
	width: 1350px;
	height: 780px;
	overflow: scroll;
	
}
.scenery_auction{
	width: 100%;
	height: 100%;
	
}

.deal-box{
    margin-left: 30px;
    display: inline-block;
}
.works_card{
	width: 620px;
	height: 360px;
	box-shadow: 0 0 5px rgb(127, 125, 128);
	border-radius: 20px 20px 10px 10px;
	margin-bottom:20px ;
	background: rgba(232, 239, 245, 0.438);
	

}
.works_img{
	float: left;
	width: 370px;
	height: 280px;
	margin-left: 17px;
	margin-top: 35px;
	background: rgba(245, 245, 245, 0.534);
	box-shadow: 0 0 8px gray;
	opacity: 0.8;
}
.work_name{
	margin-top: 10px;
}
.work_brief{
	float: left;
	width: 200px;
	height: 280px;
	margin-left: 15px;
	margin-top: 35px;
	box-shadow: 0 0 5px rgba(116, 114, 114, 0.644);
	color:  rgb(144, 165, 189);
	padding-left: 5px;
}

.work_brief ul li{
	margin-top: 20px;
	margin-left: 11px;
	font-size: 12px;
	font-family:A;
	font-weight: 600;
	display: flex;
}
.join{
	margin-left: 55px;
	margin-top: 25px;
	height: 25px;
	width: 80px;
	text-align: center;
	line-height:25px;
	box-shadow: 0 0 4px rgb(93, 123, 156);
	color: rgba(84, 133, 185, 0.644);
	/* background: #ecebeb; */
	border-radius: 10px;
	font-family: A;
	outline: none;
	cursor: pointer;
	font-size: 12px;
	font-weight: 600;
}

.paixu{
	width:1300px;
	height: 40px;
	line-height: 40px;
	margin-left: 17px;
	background: rgb(232, 239, 245);
	box-shadow: 0 0 3px rgb(107, 95, 95);
	border-radius: 5px;
	margin-top: 5px;
	display: flex;	
}
.paixu ul{
	display: flex;
	margin: 0;
	padding: 0;
	
}
.paixu ul li{
	margin-left: 21px;
	margin-right: 25px;	
}
.paixu_item{
	font-size: 12px;
	font-weight: 600;
	cursor:pointer;
}
.paixu_back a{
	margin-left: 70px;
	font-weight: 600;
	font-size: 14px;
	color: rgba(53, 87, 131, 0.493);
	cursor: pointer;
	margin-top: 2px;
}

.paixu_serch input{
	/* border:1px solid #D6CFE3; */
	outline: none;
	border:1px solid #c6d1e2;
	height: 18px;
	border-radius: 5px;
	padding: 5px;
	caret-color:#D6CFE3;
	padding-left: 5px;
	color:#705499;
	background:#dfe7f06c;
}
.paixu_serch input::placeholder{
	font-size: 10px;
	color: rgb(197, 196, 196);
}
.search_img{
	cursor: pointer;
	margin-top: 5px;
}
.p_go{
	color: #BCBCEA;
	border-radius: 12px;

	
}
.p_pop{
	
	color:#BACEEF;
	border-radius: 12px;

	
}
.p_end{
	color: #BCBCEA;
	border-radius: 12px;
	
	
}
.p_start{
	color:#9B9BCE;
	border-radius: 12px;
	
	
	
}
.p_up{
	color: #8D91DC;
	border-radius: 12px;
	opacity: 0.8;
	
}
.p_down{
	color: #6f72be;
	border-radius: 12px;
	opacity: 0.8;
}
