.demo-ruleForm .el-input__inner{
    background: rgba(212, 208, 203, 0.383) !important;
    color: rgb(255, 255, 255);
    font-family: A;
    font-weight: bold;
    letter-spacing: 0.1em;  
    border: 1px solid rgb(155, 155, 155); 
    font-size: 16px;
    border-radius: 15px;
}
.demo-ruleForm .el-input__inner:focus{
    border: 1px solid rgb(155, 155, 155); 
}
.demo-ruleForm .el-form-item__label{
    font-family: A;
    font-weight: bold;
}
//分享模块的抽屉组件
.sharebox{
    min-width: 500px !important;
}
.drawers .el-drawer{
    background:rgba(248, 248, 246, 0.925) !important;
    box-shadow: 0 0 1px rgba(219, 215, 192, 0.644);
    border-radius: 0px 20px 20px 0px;
}
.add .el-upload-list--picture .el-upload-list__item{
    width:455px;
    height: 290px;
    border:none;
    margin-bottom: 10px;
    margin-left: 5px;
}
.add .el-upload-list{
    margin-top:-25px;
}
  
//拍卖模块的翻页组件

.salepages .el-pagination .el-icon{
    color:rgb(147, 166, 192) !important;
    font-size: 18px !important;
}
.salepages .el-pager li{
    background: rgba(255, 255, 255, 0); 
    color:rgb(147, 166, 192); 
    font-size: 18px;
}
.salepages .el-pager li.active{
    color: rgb(125, 144, 165);
}
.salepages .el-pagination--small .el-pager li:last-child{
    font-size: 18px; 
}
.salepages .el-pagination--small .el-pager li.btn-quicknext{
    font-size: 18px; 
    font-weight: bold;
    color:rgb(170, 185, 204); 
}
.salepages .el-pagination{
    color:gray !important;
}
.el-pagination .btn-next, .el-pagination .btn-prev{
    background: transparent;
    color:  rgb(170, 185, 204);
}
.el-pagination button:disabled{
    color: rgb(170, 185, 204);
    background: transparent;
}
.el-pagination .btn-next .el-icon, .el-pagination .btn-prev .el-icon{
    font-size: 20px;
}

//提示框
.el-tooltip__popper {
   background: rgb(252, 252, 244) !important; 
}
.el-tooltip__popper.is-light{
    color:rgb(114, 114, 114);
    font-size: 13px;
    letter-spacing: 0.1em;
    border: 1px solid gray;
}

.UserMessage.el-drawer{
    padding-top: 10px;
    padding-bottom: 10px;
    height: 836px;
    margin-top: 10px;
    border-radius: 0px 10px 10px 0px;
    background: #f0f6fa;
    box-shadow: 0 0 10px #a9bac2;
    z-index: 10;
    
}
.el-drawer__wrapper{
    height: 876px !important;
    width: 625px;
    margin-top: 141px;
    z-index: 10;    
}
.UserMessage .el-menu{
    border-right: 0px solid white ;
    background: #f0f6fa;
    
}
.el-drawer:focus{
    outline: none;    
}
.UserMessage input{
    width: 240px;
    letter-spacing: 0.1em;
    text-align: center;
    font-size: 16px;
    color: #5e8ab4;
    outline: none;
    height: 30px;
    border-radius: 10px;
    border: 1px solid gainsboro;
}
.UserMessage .el-input:focus{
    border: none;
}




