body{
	margin: 0;
	padding: 0;

}	

ul{
	list-style: none;
	padding-left: 0;
	
}
a{
	text-decoration: none;
}
input{
	outline: none;
}
button{
	outline: none;
}
.background{
	width:100%;  
    height:100%;  /**宽高100%是为了图片铺满屏幕 */
    z-index:-1;
	position: absolute;
	background: #181A1B;
	opacity: 0.25;
	
	
}
.backimg{
	width: 1440PX;
	height: 821PX;
}
.main_head{
	width: 100%;
	height: 80px;
	box-shadow: 0 0 6px gray;
	padding-top: 0px;
	

}
.appname{
	width: 500px;
	height: 50px;
	float: left;
	font-family:B;
	font-size: 35px;
	margin-top: 15px;	
	color: rgba(84, 133, 185, 0.644);
	margin-left: 50px;

}
.appname h1{
	margin-top: 10px;
	height: 40px;
	float: left;
	margin-left:15px; 
	margin-right: 30px;
}
/* .note{
	color:#CCACD5 ;
	margin-top: 37px;
	letter-spacing: 5px;
	margin-left: 150px;
	font-weight: 500;
	font-size: 20px;
} */
.set{
	margin-right: 40px;
	float: right;
	cursor: pointer;
	color: rgba(84, 133, 185, 0.644);
	font-weight: 600;	
	margin-top: 19px;
	font-family: A;
	
}
.el-dropdown-link {
    cursor: pointer;
	color: rgba(68, 119, 175, 0.644);
}
.demonstration {
    display: block;
	color: #8492a6;
    font-size: 14px;
    margin-bottom: 20px;
}
.el-dropdown-menu{
	margin-top: -10px;
}
.el-dropdown-menu__item{
	color: rgba(46, 83, 122, 0.644);
	
}
.el-dropdown-menu__item:hover{
	background: white;
	color: rgba(10, 27, 46, 0.644);
	font-weight: 600;
}
.el-col-12{
	width: 70px;
	height: 45px;
	text-align: center;
	line-height: 45px;
}
.items_nav{
	width: 130px;
	height: 660px;
	font-size: 20px;
	font-weight: 600;
	text-align: center;
	float: left;
	z-index: 10;
	font-family: A;
	box-shadow: 0 0 5px gray;
	margin-top: 35px;
	margin-left: 1px;
	border-radius:15px 15px 15px 15px; 

}
.item_nav li{
	margin-top: 70px;
	height: 30px;
	margin-left: -2px;
	font-size: 17px;
	color: rgb(129, 147, 167);
	cursor: pointer;
	transition: .25s linear;
}
.cupage{
	color: #0840818f !important;  
	font-size: 24px !important; 
}
.item_fram{
	width: 1000px;
	height: 650px;
	margin-top: 10px;
	float: left;
	margin-left: 15px;

}
.viewmore{
	font-size:12px;
	font-family:A;
	margin-top:-28px;
	margin-left:20px;
	height:25px;
	width:930px; 
	padding-top:25px;
	padding-left:12px;
	box-shadow: 0px 5px 5px -5px gray;
}

.scenery_auction{
	margin-left: 10px;
	width: 760px;
	height: 640px;
	

}
.works_card{
	width: 980px;
	height: 663px;
	box-shadow: 0 0 5px rgba(114, 115, 116, 0.644);
	border-radius: 20px 20px 10px 10px;
	margin-top:50px; 
	

}
.works_img{
	float: left;
	width: 640px;
	height: 460px;
	box-shadow: 0 0 5px rgba(3, 3, 3, 0.644);
	margin-left: 35px;
	margin-top: 45px;
	
}
.work_brief{
	float: left;
	width: 240px;
	height: 420px;
	margin-left: 25px;
	margin-top: 61px;
	box-shadow: 0 0 5px rgba(116, 114, 114, 0.644);
	color:  rgb(144, 165, 189);
	padding-left: 5px;
}
.work_brief ul li{
	margin-top: 32px;
	margin-left: 11px;
	font-size: 14px;
	font-family:A;
	font-weight: 600;
	display: flex;
}
.join{
	margin-left: 65px;
	margin-top: 65px;
	height: 30px;
	width: 100px;
	text-align: center;
	line-height:30px;
	box-shadow: 0 0 4px rgb(93, 123, 156);
	color: rgba(84, 133, 185, 0.644);
	/* background: #ecebeb; */
	border-radius: 10px;
	font-family: A;
	outline: none;
	cursor: pointer;
	font-size: 14px;
	font-weight: 600;
}
.hot{
	width: 230px;
	margin-top: 30px;
	margin-left:27px;
	height: 665px;
	box-shadow: 0 0 3px rgba(114, 115, 116, 0.644);
	float: left;
	border-radius: 10px;
	
	
}
.hot ul{
	margin: 0;
	padding: 0;
	

}
.hot li{
	display: flex;
}

.hot_head{
	margin-top: 10px;
	color: rgba(62, 107, 155, 0.644);
	font-family: A;
	margin-bottom: 12px;
	margin-left:20px;
	font-size: 17px;
	font-weight: 600;

}
.user_icon{
	box-shadow: 0 0 3px rgba(122, 151, 199, 0.644);
	border-radius: 50px;
	width: 40px;
	height: 40px;
	margin-left: 15px;
	margin-top: 6px;	
}
.el-avatar{
	background: white;
	opacity: 0.7;
}
.hot_u{
	margin-top: 8px;
	width: 180px;
	height: 60px;
	display: flex;
	line-height: 60px;
	margin-left: 25px;
}
.user_name{
	height: 45px;
	position: relative;
	margin-left: 10px;
	letter-spacing: 0.15em;
	top: -3px;
	color: rgba(135, 156, 190, 0.63);
	cursor: pointer;
	font-family: A;
	font-weight: 600;
	font-size: 13px;
	
}
.hot_u i{
	 position: relative;
	 top:-5px;
	 color: rgba(13, 80, 153, 0.644);
	 
	 font-family: B;
}
.pic_show{
	margin-top: 40px;
	width: 1215px;
	float: left;
	margin-left: 20px;
	
	
}
.content{
	width: 1300px;
	margin-left: 142px;
	height: 720px;
	overflow: scroll;
	
	
}

.toshow{
	width: 360px;
	height: 360px;
	box-shadow: 0 0 2px rgb(78, 45, 51);
	margin-left: 34px;
	border-radius: 10px;
	margin-bottom: 30px;
	padding-top: 5px;
}
.pic_show li{
	display: inline-block;
}
.to_pic{
	width: 360px;
	height: 253px;
	text-align: center;
}
.sharepic{
	width: 345px;
	height: 251px;
	border-radius: 4px;
}
.to_user{
	margin-top: 10px;
	width: 180px;
	height: 60px;
	display: flex;
	line-height: 60px;
	
	
}
.to_icon{
	box-shadow: 0 0 2px rgba(63, 63, 63, 0.644);
	border-radius: 50px;
	width: 40px;
	height: 40px;
	margin-left: 15px;
}
.to_name{
	margin-left: 10px;
	height: 45px;
	position: relative;
	letter-spacing: 0.15em;
	top: -8px;
	color: rgba(112, 95, 146, 0.63);
	cursor: pointer;
	font-size: 14px;
}

.chevron {
	margin-top: -12px;
	margin-left: 375px;
    transform: scale3d(0.5, 0.5, 0.5);
	animation: move 2s ease-out infinite;
}
@keyframes move {
	0%{
		opacity: 0.8;
	}
    25% {
        opacity: 0.7;
    }
    33% {
        opacity: 0.6;
        
    }
    67% {
        opacity: 0.5;
        
    }
    100% {
        opacity: 0;
        transform: translateY(15px) scale3d(0.5, 0.5, 0.5);
    }
}