body{
	margin: 0;
	padding: 0;	
}
a{
	text-decoration: none;
}
ul{
	list-style: none;
	padding: 0px;
	margin: 0;
}
.head{
	width: 100%;
	height: 80px;
	margin-bottom: 40px;
	/* background: #1B1D1E; */
	opacity: 0.8;
}
.background{
	width:100%;  
    height:100%;  /**宽高100%是为了图片铺满屏幕 */
    z-index:-1;
	position: absolute;
	background: #181A1B;
	
}
.backimg{
	width: 1440PX;
	height: 821PX;
}
.appname{
	width: 500px;
	height: 50px;
	float: left;
	font-family:B;
	font-size: 35px;
	margin-top: 4px;	
	color: rgba(236, 236, 236, 0.883);
	margin-left: 80px;
}
.login{
	width: 260px;
	height: 50px;
	float: right;
	display: flex;
	margin-top: 25px;
	cursor: pointer;
	color: rgba(238, 238, 238, 0.917);
	font-family: A;
	font-weight: 600;
}
.navs{
	transition: 0.3s ease-out;
	margin-right: 40px;
	font-size: 17px;
}
.cuinav{
	transform: scale(1.32);
	transition: 0.5s ease-out;
	color: rgb(251, 251, 251);
}
.show{
	width: 100%;
	height: 320px;
	display: flex;	
	position: absolute;
	margin-top:381px;
	background: rgba(65, 65, 65, 0.548);	
	animation: move 1s ease-in-out 0s 1 alternate forwards;
	box-shadow: 0 0 10px rgb(85, 85, 85);
	opacity: 0.7;
}
.login_box{
	width: 365px;
	height: 310px;
	border-radius: 4px;
	opacity: 0.65;
	border-radius: 20px;
	overflow: hidden;
	animation: moves 2.5s ease-out;
}
@keyframes move {
	0%{
		margin-top: 600px;
		opacity: 0;
	}
    100%{
		margin-top: 381px;
		opacity: 0.65;
	}
}
.out{
	animation: out 1s ease-in-out 0s 1 alternate forwards;
}
@keyframes out {
	0%{
	}
    100%{
		margin-top: 700px;

	}
}
.close{
	height: 25px;
	width: 300px;
	position: absolute;
	border-radius: 5px;
	margin-left: 580px;
	text-align: center;
}
.close .el-icon-arrow-down{
	// margin-left: 350px;
	margin-right: 17px;
	font-weight: 800;
	color: rgba(238, 238, 238, 0.602);
	font-size: 27px;
}


/* 登录盒子的样式*/
.login_pic{
	width: 200px;
	height: 50px;
	text-align: center;
	font-family: B;
	font-size: 35px;
	margin-left:79px;
	margin-bottom: 25px;
	letter-spacing: 3px;
	color: rgb(251, 251, 251);
	margin-top: 35px;
	
}
.flogin_box{
	width: 260px;
	margin-left: 50px;
}
.flogin_box input{
	border-radius: 10px;
	border: 1px solid rgb(150, 150, 150);
	background: rgba(209, 209, 209, 0.719);
	outline: none;
	height: 23px;
	width:130px;
	margin-left: 5px;
	padding-left:5px;
	color: #3b3838;
	font-family: A;
	font-weight: 600;
}
.flogin_box div{
	margin-bottom: 35px;
	color: rgb(251, 251, 251);
	font-family: DZF;
}
.login_botton{
	cursor: pointer;
	margin-top: -5px;
	margin-left: 75px;
	padding-left: 5px;
	width: 95px; 
	height: 25px; 
	text-align: center;
	line-height: 27px;
	font-size: 12px;
	border-radius: 10px;
	border: 1px solid #686669;
	background: rgba(223, 223, 223, 0.917);
	outline: none;
	font-weight: 600;
	letter-spacing: 0.6em;
}
.pwd_forgot{
	text-align: center;
	width: 100px;
	height: 20px;
	margin-left: 125px;
	margin-top: -32px;
	font-size: 13px;
	transform: scale(0.75);
	font-family: A;
}

/* 登录盒子样式的尾巴*/





/*注册盒子的样式 */
.rigister_box{
	width: 360px;
	height: 320px;
	border-radius: 4px;
	opacity: 0.65;
	border-radius: 15px;
	overflow: hidden;
	animation:moves 2.5s ease-out;

}
@keyframes moves {
	0%{
		opacity: 0;
	}
    100% {
        
        opacity: 0.65;
    }
}
.register_pic{
	width: 350px;
	height: 70px;
	text-align: center;
	font-family: B;
	font-size: 35px;
	margin-top: 10px;
	margin-left:70px;
	letter-spacing: 2px;
	display: flex;
	color: rgb(236, 236, 236);
	
}
.form_box{
	width: 260px;
	margin-left: 50px;
}
.usericon{
	margin-left: 100px;
}
.el-avatar{
	background: rgb(235, 235, 235);
}

.form_box input{
	border-radius: 10px;
	border: 1px solid rgb(150, 150, 150);
	background: rgba(209, 209, 209, 0.719);
	outline: none;
	height: 23px;
	margin-left: 5px;
	padding-left:5px;
	color: #413f3f;
	font-family: A;
	font-weight: 600;
}
.el-radio{
	color:#ffffff;
	margin-top: 6px;
}
.el-cascader-node>.el-radio, .el-radio:last-child{
	margin-left: 46px;
}
.form_box div{
	margin-bottom: 20px;
	color: #fbfbfb;
	font-family: DZF;
}
.input_botton{
	cursor: pointer;
	margin-top: -10px;
	margin-left: 75px;
	width: 95px; 
	height: 25px; 
	padding-left: 5px;
	text-align: center;
	line-height: 27px;
	font-size: 15px;
	border-radius: 10px;
	border: 1px solid #939194;
	background: #c7c7c7ec;
	outline: none;
	letter-spacing: 0.6em;
	font-weight: 600;
	
}


/*注册盒子样式的尾巴 */


.abouts{
	width: 490px;
	height: 200px;
	color:rgb(245, 245, 245);
	opacity: 0.65;
	font-size: 15px;
	font-family: A;
	text-indent:20px;
	border-radius: 8px;
	margin-left: 145px;
	margin-top: 67px;
	font-weight: 600;
	animation:moves 2.5s ease-out;

}
.about{
	height: 40px;
	width:470px;
	margin-top: 15px;
	letter-spacing: 0.2em;

}
.abouts .three{
	text-align: center;
	line-height: 26px;
	cursor: pointer;
	color: #f6f6f6;
} 
.abouts .three:hover{
	color: #f3ce84;
} 
.company{
	width: 1440PX;
	height: 70px;
	float: left;
	text-align: center;
	color:rgb(233, 233, 233);
	font-weight: 500;
	font-size: 22px;
	letter-spacing: 0.2em;
	font-family: DZF;
	line-height: 70px;
	margin-top: 560px;

}
.server{
	display: inline-block;
	margin-right: 25px;
	cursor: pointer;
}
footer{
	width: 1440px;
	height: 40PX;
	float: left;
	font-size: 16px;
	text-align: center;
	color: rgb(233, 233, 233);
	font-family: DZF;
	font-family:B;
	
}
footer li{
	display: inline-block;
}
footer div{
	margin: 2px;
	padding: 0px;
	font-size: 13px;

}
.connect{
	height: 30px;
	line-height: 30px;
	margin-left: 30px;

}
