body{
	margin: 0;
	padding: 0;	
}
a{
	text-decoration: none;
}
ul{
	list-style: none;
	padding: 0px;
	margin: 0;
}
.head{
	width: 100%;
	height: 80px;
	margin-bottom: 40px;
	/* background: #1B1D1E; */
	opacity: 0.8;
}
.background{
	width:100%;  
    height:100%;  /**宽高100%是为了图片铺满屏幕 */
    z-index:-1;
	position: absolute;
	background: #181A1B;
	opacity: 1;
	
}
.backimg{
	width: 1440PX;
	height: 821PX;
}
.appname{
	width: 500px;
	height: 50px;
	float: left;
	font-family:B;
	font-size: 35px;
	margin-top: 4px;	
	color: rgba(236, 235, 235, 0.781);
	margin-left: 80px;
}
.login{
	width: 260px;
	height: 50px;
	float: right;
	display: flex;
	margin-top: 25px;
	cursor: pointer;
	color: rgba(235, 235, 235, 0.664);
	font-family: A;
	font-weight: 600;
}
.navs{
	transition: 0.3s ease-out;
	margin-right: 40px;
	font-size: 17px;
}
.cuinav{
	transform: scale(1.25);
	transition: 0.5s ease-out;
	color: rgb(228, 228, 228);
}
.show{
	width: 100%;
	height: 320px;
	display: flex;	
	position: absolute;
	margin-top:381px;
	background: rgba(0, 0, 0, 0.85);	
	animation: move 1s ease-in-out 0s 1 alternate forwards;
	box-shadow: 0 0 10px rgb(0, 0, 0);
	opacity: 0.7;
}
.rigister_box{
	width: 365px;
	height: 310px;
	border-radius: 4px;
	opacity: 0.65;
	border-radius: 20px;
	overflow: hidden;
}
@keyframes move {
	0%{
		margin-top: 600px;
		opacity: 0;
	}
    100%{
		margin-top: 381px;
		opacity: 0.65;
	}
}
.out{
	animation: out 1s ease-in-out 0s 1 alternate forwards;
}
@keyframes out {
	0%{
	}
    100%{
		margin-top: 700px;

	}
}
.close{
	height: 25px;
	width: 300px;
	position: absolute;
	border-radius: 5px;
	margin-left: 600px;
	text-align: center;
}
.close .el-icon-arrow-down{
	// margin-left: 350px;
	margin-right: 17px;
	font-weight: 800;
	color: rgba(238, 238, 238, 0.602);
	font-size: 27px;
}
.register_pic{
	width: 200px;
	height: 50px;
	text-align: center;
	font-family: B;
	font-size: 45px;
	margin-left:75px;
	margin-bottom: 35px;
	letter-spacing: 3px;
	color: #c9c9c9;
	margin-top: 10px;
	
}
.form_box{
	width: 260px;
	margin-left: 50px;
}
.form_box input{
	border-radius: 10px;
	border: 1px solid rgb(150, 150, 150);
	background: rgb(212, 212, 212);
	outline: none;
	height: 23px;
	margin-left: 5px;
	padding-left:5px;
	color: #1d1a1a;
	font-family: A;
	font-weight: 600;
}
.form_box div{
	margin-bottom: 35px;
	color: #ffffff;
	font-family: A;
}
.input_botton{
	margin-top: 8px;
}
.pwd_forgot{
	text-align: center;
	width: 100px;
	height: 20px;
	margin-left: 119px;
	margin-top: -30px;
	font-size: 12px;
	transform: scale(0.8);
	font-family: A;
}

.pwd_forgot a:hover{
	color: #e08247 !important;
}

.abouts{
	width: 490px;
	height: 200px;
	color:rgb(235, 235, 235,0.9);
	opacity: 0.5;
	font-size: 15px;
	font-family: A;
	text-indent:20px;
	border-radius: 8px;
	margin-left: 150px;
	margin-top: 75px;
	font-weight: 600;

}
.about{
	height: 40px;
	width:470px;
	margin-top: 15px;
	letter-spacing: 0.2em;

}
.abouts .three{
	text-align: center;
	line-height: 26px;
	cursor: pointer;
	color: #d8d5d5;
} 
.abouts .three:hover{
	color: #c28db5;
} 
.company{
	width: 1440PX;
	height: 70px;
	float: left;
	text-align: center;
	color:rgb(233, 233, 233);
	font-weight: 500;
	font-size: 22px;
	letter-spacing: 0.2em;
	font-family: DZF;
	line-height: 70px;
	margin-top: 560px;

}
.server{
	display: inline-block;
	margin-right: 25px;
	cursor: pointer;
}
footer{
	width: 1440px;
	height: 40PX;
	float: left;
	font-size: 16px;
	text-align: center;
	color: whitesmoke;
	font-family: DZF;
	font-family:B;
	
}
footer li{
	display: inline-block;
}
footer div{
	margin: 2px;
	padding: 0px;
	font-size: 13px;

}
.connect{
	height: 30px;
	line-height: 30px;
	margin-left: 30px;

}
