body{
	margin: 0;
	padding: 0;
}

input{
	outline: none;
	margin-bottom: 35px;
	border-radius: 10px;
	opacity: 0.2;
	border: 2px solid #bfa4d2;
	width: 145px;
	height: 26px;
	text-indent:6px;
	color:#36175e;
	font-weight: 600;
	caret-color:#36175e;
	font-size: 15px;
	
}
label{
	margin-right: 7px;
	color:#8aa1b4;
	opacity: 0.7;
}
span{
	color: #046380;
}
.rigister_box{
	width: 430px;
	height: 300px;
	padding-left: 20px;
	padding-right: 20px;
	position: absolute;
	left: 430px;
	top: 145px;
	/* background:white; */
	border-radius: 9px 9px 5px 5px;
	/* border-top: 30px solid #b9cdef;
	border-left: 1.5px solid #bcdee5;
	border-right: 1.5px solid #bcdee5;
	border-bottom: 1.5px solid #bcdee5; */
	opacity: 0.5;
	
}
.register_pic{
	width: 100px;
	height: 50px;
	font-family:Times New Roman;
	font-size: 60px;
	margin-left:150px;
	margin-bottom: 50px;
	letter-spacing: 3px;
	color: #7d8083;
	
}
.register_pic p{
	margin: 0;
}
.form_box{
	width: 260px;
	margin-left: 100px;

	

}
.input_botton{
	
	margin-left: 65px;
}
.pwd_forgot a{
	color: #8aa1b4;
	letter-spacing: 0.12em;
	font-weight: 600;
	
	
}
.pwd_forgot{
	margin-top: -20px;
}
.pwd_forgot a:hover{
	color: #1c0c02;
}

