
.head{
	width: 100%;
	height: 80px;
	margin-bottom: 40px;
	opacity: 0.8;
}
a{
	text-decoration: none;
}
.background{
	width:100%;  
    height:100%;  /**宽高100%是为了图片铺满屏幕 */
    z-index:-1;
	position: absolute;
	background: #181A1B;
	opacity: 0.99;	
}
.backimg{
	width: 100%;
	height: 100%;
}
.appname{
	width: 500px;
	height: 50px;
	float: left;
	font-family:B;
	font-size: 35px;
	margin-top: 4px;	
	color: rgb(245, 245, 245);
	margin-left: 80px;
}
.login{
	width: 200px;
	height: 50px;
	float: right;
	display: flex;
	margin-top: 20px;
	cursor: pointer;
	color: rgb(235, 235, 235);
	font-family: DZF;
}
.navs{
	transition: 0.3s ease-out;
	font-size: 25px;
}
.cuinav{
	transform: scale(1.2);
	transition: 0.5s ease-out;
	color: rgb(212, 185, 224);
}
.show{
	width: 100%;
	height: 540px;
	display: flex;	
}
.rigister_box{
	width: 380px;
	height: 400px;
	border-radius: 4px;
	margin-left: 520px;
	margin-top: 100px;
	opacity: 0.5;
	background: rgb(216, 216, 216);	
	border-radius: 15px;
	box-shadow: 0 0 10px gray;
}
.register_pic{
	width: 360px;
	height: 70px;
	text-align: center;
	font-family: B;
	font-size: 35px;
	margin-top: 10px;
	margin-left:30px;
	letter-spacing: 2px;
	display: flex;
	color: #a380b3;
	
}
.form_box{
	width: 260px;
	margin-left: 70px;
}
.usericon{
	margin-left: 100px;
}
.el-avatar{
	background: rgb(235, 235, 235);
}

.form_box input{
	border-radius: 10px;
	border: 1px solid #c9b0d4;
	background: #f0e8f3;
	outline: none;
	height: 23px;
	margin-left: 5px;
	padding-left:5px;
	color: #a57ab8;
	font-family: DZF;
}
.el-radio{
	color:#724c85;
	margin-top: 10px;
}
.el-cascader-node>.el-radio, .el-radio:last-child{
	margin-left: 50px;
}
.form_box div{
	margin-bottom: 20px;
	color: #8f64a3;
	font-family: DZF;
}
.input_botton{
	cursor: pointer;
	margin-top: 20px;
	margin-left: 75px;
	width: 100px; 
	height: 25px; 
	text-align: center;
	line-height: 25px;
	font-size: 15px;
	color:#7b4892;
	border-radius: 10px;
	border: 1px solid #c9b0d4;
	background: #f0e8f3;
	outline: none;
	
}